img {
  width: 135px;
  padding: 0 30px;
  cursor: pointer;
}
mat-toolbar {
  background: #000000;
  color: #fff;
  display: flex;
  justify-content: space-between;
}
::placeholder {
  color: white;
  opacity: 0.7;
  margin-left: 10px;
}
.search__input {
  margin: 0 30px;
  width: 20%;
  box-sizing: border-box;
  font-size: 16px;
  background-color: #3a383d;
  color: #fff;
  background-image: url(../assets/ic_search.png);
  background-position: 37px 15px;
  background-repeat: no-repeat;
  padding: 15px;
  padding-left: 65px;
  border-radius: 20px;
}
@media only screen and (max-width: 600px) {
  .search__input {
    margin: 0 30px;
    width: 50%;
    box-sizing: border-box;
    font-size: 16px;
    background-color: #3a383d;
    color: #fff;
    background-image: url(../assets/ic_search.png);
    background-position: 37px 15px;
    background-repeat: no-repeat;
    padding: 15px;
    padding-left: 65px;
    border-radius: 20px;
  }
}
